@font-face {
    font-family: "Rubik";
    src: url(Rubik/Rubik-VariableFont_wght.ttf)
  }

/* BODY OF THE WEBSITE */

body{
    font-family: "Rubik";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1AC073;
    color: white;
    overflow-y: auto;
}

.icons{
    display: flex;
}



/* HEADER TAG + NAV BAR*/

header {
    background-color: #1AC073;
    color: #ffffff;
    padding: 1rem 2rem;
}

.logo{
    width: 15%;
    height: 20px;
    top: 2px;
    left: -14.5px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Rubik';
    font-size: 32px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    text-underline-position: 'from-font';
    text-decoration-skip-ink: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 2px;
    gap: 40px;
    opacity: 0px;
    text-decoration: none;
}
.nav-icons{
    display: flex;
    gap: 20px;
}
.nav-icons a {
    color: white; 
    text-decoration: none; 
    font-size: 16px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.nav-icons a:hover{
    text-decoration: underline;
}

.cart-container{
    position: relative;
    display: inline-block;
}

.cart-icon {
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}

.cart-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.cart-content {
    background-color: #fff;
    background-position: center;
    text-align: center;
    padding: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 56%;
    height: 47%;
}

.cart-content h2 {
    margin: 10px 0;
    color: black;
}
  
.cart-content p {
    color: black;
}
  
.cart-content button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1AC073;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    bottom: 34px;
}
  
.cart-content button:hover {
    background-color: #45a049;
}


.cart-dot {
    position: absolute;
    top: 9px;
    right: 13px;
    width: 8px;
    height: 8px;
    background-color: #F3BA00;
    border-radius: 50%;
    display: none;
    border: 1px solid #F3BA00;
}
  
.search-icon {
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* SECTION-MAIN */


.section-main{
    padding: 1rem 1rem;
    background-color: #1AC073;
    color: #ffffff;
    
}

.section-main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight:400;
}

.section-main input {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 85%;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 7%;
    margin-bottom: 0%;
}

.main h1 {
    width: 78%;
    height: 29%;
    gap: 0px;
    opacity: 0px;
    font-family: 'Rubik';
    font-size: 70px;
    font-weight: 400;
    line-height: 82.03px;
    text-align: left;
    text-underline-position: 'from-font';
    text-decoration-skip-ink: none;
}

.main p{
    width: 441px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    text-underline-position: 'from-font';
    text-decoration-skip-ink: none;
}
.main input {
    width: 398px;
    height: 58px;
    top: 259px;
    padding: 0px 0px 0px 22px;
    gap: 0px;
    border-radius: 10px 0px 0px 10px;
    opacity: 0px;
}

.main button {
    width: 112px;
    cursor: pointer;
    height: 59px;
    background-color: #F3BA00;
    color: white;
    left: 259px;
    padding: 19px 29px 19px 29px;
    gap: 10px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0px;
    border: none;
}





/* HOME KITCHEN SECTION*/

.kitchen-section {
    background-color: #F2F2F2;
    color: black;
    margin: 0;
    gap: 0px;
    opacity: 0px;
    top: 800px;
    padding: 10% 9% 0% 9%;
    gap: 0px;
    opacity: 0px;
}

.kitchen-section h2{
    display: inline;
    font-weight: 700;
    width: 250px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: "Rubik";
    font-size: 40px;
    line-height: 24px;
    letter-spacing: -0.012em;
    text-align: left;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    
}

.image-container {
    margin: 40px 0;
    position: relative;
    width: 300px; 
    height: auto; 
  }

.pizza-image {
    width: 100%; 
    height: auto;
    display: block;
  }

.offer-text {
    text-align: center;
    margin-bottom: -10%;
    position: relative;
    bottom: 74.1%;
    background-color: #F3BA00;
    padding: 5px 4px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    z-index: 1;
    width: 32px;
    height: 26px;
    padding: 4px 4px 0px 5px;
    gap: 4px;
    border-radius: 10px 5px 5px 5px;
    opacity: 0px;
}
.card {
    font-family:"Rubik";
    width: 24%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-bottom: 4%;
}

.card-image {
    width: 100%;
    height: 73%;
    object-fit: cover;
}

.p-card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-content h3 {
    font-size: 18px;
    margin: 0;
    color: black;
}
.same{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0%;
}
.price {
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin: 1% 4%;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    color: black;
    align-items: center;
    
}

.details .rating {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}

.rating .star {
    font-size: 24px;
    color: black;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 2px;
    margin-top: -6px;
}

.time {
    font-size: 14px;
}
  
.quantity {
    font-size: 12px;
    font-weight: bold;
}
  
.decrease-btn,
.increase-btn {
    background-color: #F3BA00;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}
  
.decrease-btn:hover,
.increase-btn:hover {
    transform: scale(1.1); 
    background-color: #F3BA00;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width:41%
}
  
.quantity-controls button {
    background-color: #F3BA00;
    color: white;
    border: none;
    border-radius: 25%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}
  
.quantity-controls button:hover {
    background-color: #F3BA00;
}
  
.item-count {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
  

.kitchen {
    margin-bottom: 3%;
}


.wrapping{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



/* POPULAR ITEM SECTION + CAROUSEL SECTION*/
.popular-section{
    background-color:#F2F2F2;
}
.popular-items{
    background-color: #F2F2F2;
}

.popular {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    font-family: 'Rubik';
    font-size: 40px;
    background-color: #F2F2F2;
    color: black;
    margin-top: 0%;
    padding-top: 5%;
    margin-bottom: 0%;
}
.maintain-pose {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    position: relative;
    width: 20 ;
    align-items: center;
}

.p-offer-text {
    text-align: center;
    position: relative;
    margin-bottom: -35px;
    top: -73%;
    left: 0px;
    background-color: #F3BA00;
    padding: 5px 4px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    z-index: 1;
    width: 10%;
    height: 7%;
    padding: 1% 2%;
    gap: 4px;
    border-radius: 10px 5px 5px 5px;
    opacity: 0px;
}
.carousel-container {
    position: relative; 
    overflow: hidden;   
    display: flex;
    align-items: center;
     width: calc(3 * (300px + 13px)); 
    margin: auto;
    z-index: 0;
    padding:0, 60px;
}
  
                     
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2%;
    width: 80.14%;
    height: 400px;
    position: relative;
}

.card1 {
    flex-shrink: 0;
    height: 87%;
    width: 40%;
}

.carousel-btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background: #1AC073;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center; 
    text-align: center;
    align-items: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 10;
    transform-origin: center;
}

.carousel-btn:hover {
    transform: translateY(-50%) scale(1.2); 
    background: #0f8e5d; 
}

.arrow-button{
    margin-bottom: 10%;
}


.prev-btn {
    left: 10%;
    background-color: #ffffff;
    border: 2px solid #1AC073;
    color: #1AC073;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.prev-btn:hover {
    color: #f9f9f9;
    background-color: #1AC073;
    transform: translateY(-50%) scale(1.2);
}

.next-btn {
    right: 10%;
    background-color: #ffffff;
    border: 2px solid #1AC073;
    color: #1AC073;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.next-btn:hover {
    color: #ffffff;
    background-color: #1AC073;
    transform: translateY(-50%) scale(1.2);
}


.req{
    display: flex;
    justify-content: center;
    height :48px;
    padding: 75px;
}
.req-button{
    height:48px;
    width:210px;
    background-color: #1AC073;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    font-family: Rubik;
    cursor: pointer;
    
}
.request-dish-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.request-dish-btn:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    position: absolute;
    margin: 2% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin-left: 9%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-content h2 {
    margin-bottom: 20px;
    color: black;
    font-family: 'Rubik';
    font-size: 40px;
    line-height: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
}

.modal-content label {
    text-align: left;
    font-weight: none;
    color: #000000;
    font-size: 16px;
}

.modal-content input {
    padding: 16px;
    margin-top: -10px;
    margin-bottom: 16px;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    background: #F2F2F2;
}
.form-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 12%;
}

.form-buttons {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 27%;
    margin-left: 38%;
    height: 59px;
}

.cancel-btn, .submit-btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    flex: 1;
}

.cancel-btn {
    background-color: white;
    color: #1AC073;
    border: 2px solid #1AC073;
}

.cancel-btn:hover {
    background-color: #F2F2F2;
}

.submit-btn {
    background-color: #1AC073;
    color: white;
}

.submit-btn:hover {
    background-color: #45a049;
}
.no-scroll {
    overflow: hidden;
}


/* DELIVERY SECTION + VIDEO CONTAINER */
.delivery-section {
    background: linear-gradient(to bottom, #F2F2F2 55%, #1AC073 35%);
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
}
.text {
    width: 45rem;
    margin: 2px auto;
    line-height: 1.6;
    text-align: center;
    font-family: 'Rubik';
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 75px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-decoration-skip-ink: none;
}
.text span{
    display: block;
}
.para {
    font-family: 'Rubik';
    text-align: center;
    margin: auto;
    width: 30%;
    line-height: 24px;
    font-weight: 100;
    font-size: 100%;
}

.video-container {
    position: relative;
    width: 50%;
    padding-bottom: 28.25%;
    overflow: hidden;
    margin-top: 1%;
    margin: 1% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 58px;
}

.video-container iframe, 
.video-container video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.play-pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #1AC073;
    color:white ;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border: none;
    font-size: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:2%; 
    padding-left: revert;
    z-index: 10;
}
  
.video-container:hover .play-pause-btn {
    transition: opacity 1s ease
}
#myVideo::-webkit-media-controls-play-button {
    display: none;
  }


/* ENQUERY SECTION WITH A FOOD DELIVERY CARTOON ART */
.qna-section {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5% 0;
}

.qna-box {
    position: relative;
    display: flex;
    left: 5%;
    width: 76%;
}
.qna-heading {
    position: relative;
    margin-bottom: 1%;
    color: black;
    font-family: 'Rubik';
    font-size: 26px;
    width: 53%;
}

.qna-box p {
    position: relative;
    font-size: 12px;
    margin-bottom: 0%;
    color: black;
    margin-top: 1%;
    margin-bottom: 3%;
    height: 5%;
    width: 71%;
}

.qna-box input {
    position: relative;
    width: 39%;
    margin-bottom: 3%;
    padding: 3%;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #F0FAF7;
    font-family: 'Rubik';
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#name{
    margin-right: 3px;
}
#email{
    margin-left: 3px;
}

.qna-box textarea {
    width: 80%;
    height: 150px;
    resize: none;
    margin-bottom: 3%;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #F0FAF7;
    font-family: 'Rubik';
    padding: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: #F0FAF7;
    border-image: initial;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.qna-box input:focus,
.qna-box textarea:focus {
    border-color: #4CAF50;
    background-color: #fff;
}

.qna-box button {
    width: 20%;
    padding: 2%;
    font-size: 16px;
    color: white;
    background-color: #1AC073;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s ease;
}

.qna-box button:hover {
    background-color: #2EBF91;
}

.img-food-delivery {
    position: relative ;
    width: 100%;
    height: 100%;
}

/* FOOTER SECTION */

.footer {
    background-color: #1AC073;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Rubik';
  }
  
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
  
.brand {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: 'Rubik';
}
  
.footer-nav {
    display: flex;
    gap: 20px;
    font-family: 'Rubik';
}
  
.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
  
.footer-nav a:hover {
    text-decoration: underline;
}
  
.social-icons {
    display: flex;
    gap: 10px;
}
  
.social-icons a img {
    width: 24px;
    height: 24px;
}


.footer-line {
    margin-top: 20px;
    border: none;
    border-top: 1px solid white;
    width: 77%;
}